body {
    background-color: #DFDDDB;
}

/* MINIKI */
.titulo h1 {
    font-family: 'Jomhuria', serif;
    font-size: 145px;
    color: #865739;
    letter-spacing: 7px;
    margin-left: 820px;
    margin-top: 200px;
}

/* login */
.titulo p {
    font-family: 'Jost', sans-serif;
    font-size: 25px;
    text-align: center;
    color: #865739;
    margin-top: -120px;
}


.barra2 {
    width: 375px;
    height: 42px;
    background-color: #C3B2A8;
    margin-left: 770px;
    margin-top: 30px;
    display: flex ;
}
/* email */
.barra2 p {
    color: white;
    font-family: 'Jost', sans-serif;
    font-size: 18px;
    margin-left: 10px;
    opacity: 60%;
    margin-top: 10px;
}


.barra3 {
    width: 375px;
    height: 42px;
    background-color: #C3B2A8;
    margin-left: 770px;
    margin-top: 30px;
    display: flex ;
}
/* senha */
.barra3 p {
    color: white;
    font-family: 'Jost', sans-serif;
    font-size: 18px;
    margin-left: 10px;
    opacity: 60%;
    margin-top: 10px;
}

.esqueci {
    color: #865739;
    opacity: 90%;
    font-size: 16;
    font-family: 'Jost', sans-serif;
    margin-left: 998px;
}


/* BOTAO DO CRIAR CONTA */
button {
    width: 150px;
    height: 50px;
    background: none;
    border: none;
    margin-left: 1050px;
    margin-top: -15px;
    display: flex;
}

a {
    text-decoration: none;
    font-size: 17px;
    color: #865739;
    font-weight: bolder;
}

